@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
    background-color: #3E2C41;
}

.header {
    background-color: #261C2C;
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    padding: 10px;
}

.html_background {
    background-color: white;
    padding-left: 640px;
    padding-top: 351px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.iframe {
    position: absolute;
    right: 0px;
    top: 303px;
    min-width: 640px;
    min-height: 350px;
}

.header a, header a:visited {
    color: pink;
    text-decoration: none;
}

.header a:hover {
    color: palevioletred;
    text-decoration: none;
}

.html {
    position: absolute;
    top: 46px;
}

.css {
    position: absolute;
    top: 290px;
}

.js {
    position: absolute;
    top: 46px;
    left: 715px;
}

.html textarea {
    padding: 8px;
    width: 660px;
    min-height: 200px;
    min-width: 300px;
}

.css textarea {
    padding: 8px;
    width: 660px;
    min-height: 200px;
    min-width: 300px;
}

.js textarea {
    padding: 8px;
    width: 611px;
    height: 200px;
}

textarea {
    font-size: 15px;
    margin: 12px;
    border: none;
    resize: none;
    font-family: 'Fira Code';
}