.error {
    text-align: center;
    background-color: rgba(189, 189, 189, 0.605);
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: palevioletred;
    text-decoration: none;
}
