.javascript {
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.header {
    display: none;
}

.navbar {
    display: none;
}

.blogs {
    display: none;
}
